<html>
  <head>
    <title>WiFi Controlled Car (hophd.com)</title>
  </head>
  <body>
    <center>
 
 
<h1>IR remote controller </h1>
 
<img src="controlpad.png" border="0" width="220" height="211" orgWidth="220" orgHeight="211" usemap="#Map" alt="" />
 
<map name="Map" id="Map">
 
<area alt="" title="" href="/go" shape="rect" coords="75,10,136,69" style="outline:none;" target="_self" />
 
<area alt="" title="" href="/right" shape="rect" coords="139,61,210,126" style="outline:none;" target="_self" />
 
<area alt="" title="" href="/stop" shape="rect" coords="74,76,138,137" style="outline:none;" target="_self" />
 
<area alt="" title="" href="/rights" shape="rect" coords="133,141,197,202" style="outline:none;" target="_self" />
 
<area alt="" title="" href="/lefts" shape="rect" coords="24,144,77,205" style="outline:none;" target="_self" />
 
<area alt="" title="" href="/left" shape="rect" coords="4,60,72,132" style="outline:none;" target="_self" />
 
<area alt="" title="" href="/back" shape="rect" coords="81,143,131,202" style="outline:none;" target="_self" />
 
<area shape="rect" coords="218,209,220,211" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
</map>
 
   
 
<hr>
 
    {% if cmd %}
 
<h2> Your Command: {{ cmd }} </h2>
 
    {% endif %}
    </center>
  </body>
</html>
